<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reminder Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>

<h3>Reminder Chatbot</h3>
<button id="enableNotifications">Enable Notifications</button>
<div id="chat">
    <p><b>Bot:</b> Type <code>add reminder</code></p>
</div>

<input id="msg" type="text" placeholder="Type message here">
<button id="sendBtn" type="button">Send</button>

<script src="{{url_for('static',filename='script.js')}}"></script>

</body>
</html>